<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lägg till ny post</h1>
    <form action="/create" method="post">
    <input name="title" type="text" placeholder="title">
    <input name="content" type="text" placeholder="content">
    <input name="comment" type="text" placeholder="comment">
    <button type="submit">Submit</button>
    
    </form>
    <hr>

    
</body>
</html>